{% extends 'app/base.html' %}

{% load static %}

{% block js %}

{% endblock %}

{% block css %}
<style>
    .edit-heading {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
</style>
<style>
    /* Estilos personalizados */
    .no-tickets-message {
        text-align: center;
        padding: 20px;
        font-size: 1.2rem;
        color: #6c757d;
    }

    .table-container {
        overflow-x: auto;
        max-width: 100%;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

    .table th,
    .table td {
        padding: 10px 15px;
        vertical-align: middle;
    }

    .table thead th {
        background-color: #343a40;
        color: white;
    }

    .table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .btn-edit {
        padding: 5px 10px;
        font-size: 14px;
    }

    .bold-text {
        font-weight: bold;
    }
</style>
{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <h1 class="edit-heading">Listado de Tickets Emitidos</h1>
    <form class="search-form" method="get">
        <label for="search_usuario">Filtrar por Usuarios:</label>
        <input type="text" id="search_usuario" name="search_usuario" value="{{ request.GET.search_usuario }}">
        <button type="submit">Buscar</button>
    </form>
    {% if tickets %}
    <div class="table-container">
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID Ticket</th>
                    <th>Sede</th>
                    <th>Dirección</th>
                    <th>Área</th>
                    <th>Modalidad</th>
                    <th>Nombre</th>
                    <th>RUT</th>
                    <th class="bold-text">Usuario</th>
                    <th>Correo Institucional</th>
                    <th>Teléfono</th>
                    <th>Tipo de Reporte</th>
                    <th>IP</th>
                    <th>Hostname</th>
                    <th>Marca/Modelo</th>
                    <th>Solicitud</th>
                    <th>Fecha de Emisión</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.IdTicket }}</td>
                    <td>{{ ticket.get_Sede_display }}</td>
                    <td>{{ ticket.Direccion }}</td>
                    <td>{{ ticket.Area }}</td>
                    <td>{{ ticket.get_Modalidad_display }}</td>
                    <td>{{ ticket.Nombre }}</td>
                    <td>{{ ticket.Rut }}</td>
                    <td class="bold-text" >{{ ticket.Usuario }}</td>
                    <td>{{ ticket.CorreoInstitucional }}</td>
                    <td>{{ ticket.Telefono }}</td>
                    <td>{{ ticket.get_TipoReporte_display }}</td>
                    <td>{{ ticket.IP }}</td>
                    <td>{{ ticket.HOSTNAME }}</td>
                    <td>{{ ticket.MARCA_MODELO }}</td>
                    <td>{{ ticket.Solicitud }}</td>
                    <td>{{ ticket.FechaEmision }}</td>
                    <td>
                        <a href="{% url 'editar_ticket' ticket.IdTicket %}" class="btn btn-link btn-sm btn-edit">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p class="no-tickets-message">No se han emitido tickets.</p>
    {% endif %}
</div>
{% endblock %}