{% extends 'app/base.html' %}

{% load static %}

{% block js %}

{% endblock %}

{% block css %}
<style>
    .edit-heading {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
</style>
<style>
    /* Estilos personalizados */
    .no-tickets-message {
        text-align: center;
        padding: 20px;
        font-size: 1.2rem;
        color: #6c757d;
    }
</style>
{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <h1 class="edit-heading">Listado de Tickets Emitidos</h1>
    {% if tickets %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID Ticket</th>
                    <th>Sede</th>
                    <th>Dirección</th>
                    <th>Área</th>
                    <th>Modalidad</th>
                    <th>Nombre</th>
                    <th>RUT</th>
                    <th>Usuario</th>
                    <th>Correo Institucional</th>
                    <th>Teléfono</th>
                    <th>Tipo de Reporte</th>
                    <th>Solicitud</th>
                    <th>Fecha de Emisión</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.IdTicket }}</td>
                    <td>{{ ticket.get_Sede_display }}</td>
                    <td>{{ ticket.Direccion }}</td>
                    <td>{{ ticket.Area }}</td>
                    <td>{{ ticket.get_Modalidad_display }}</td>
                    <td>{{ ticket.Nombre }}</td>
                    <td>{{ ticket.Rut }}</td>
                    <td>{{ ticket.Usuario }}</td>
                    <td>{{ ticket.CorreoInstitucional }}</td>
                    <td>{{ ticket.Telefono }}</td>
                    <td>{{ ticket.get_TipoReporte_display }}</td>
                    <td>{{ ticket.Solicitud }}</td>
                    <td>{{ ticket.FechaEmision }}</td>
                    <td>
                        <a href="{% url 'editar_ticket' ticket.IdTicket %}" class="btn btn-primary btn-sm">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p class="no-tickets-message">No se han emitido tickets.</p>
    {% endif %}
</div>
{% endblock %}