{% extends 'app/base.html' %}

{% load static %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    // Función para mostrar un SweetAlert2 cuando se emite el ticket
    document.addEventListener('DOMContentLoaded', () => {
        const form = document.querySelector('form');
        
        form.addEventListener('submit', (event) => {
            event.preventDefault(); // Evitar el envío del formulario
            
            Swal.fire({
                title: 'Confirmar',
                text: '¿Desea emitir este ticket?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Sí, emitir',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit(); // Enviar el formulario si el usuario confirma
                }
            });
        });
    });
</script>
{% endblock %}

{% block css %}
<style>
    .edit-heading {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
</style>
<style>
    /* Estilos personalizados */
    .custom-form-label {
        font-weight: bold;
    }
    .custom-form-field {
        margin-bottom: 15px;
    }
    .custom-form-submit {
        margin-top: 20px;
    }
</style>
{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <h1 class="edit-heading">Regitrar Ticket</h1>
    <form method="post" action="{% url 'registrar_ticket' %}" class="needs-validation" novalidate>
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3 custom-form-field">
                <label for="{{ field.id_for_label }}" class="form-label custom-form-label">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary custom-form-submit" >Registrar</button>
    </form>
</div>
{% endblock %}